@import "renorm";

body {
    background: #0F1F0F;
    min-width: 240px;
}

a {
    color: #E44C4C;
    &:hover { color: #E4AC4C; }
}

a, button { transition: background 0.3s; }

header {
    background-color: darkgreen;
    background: darkgreen url(../img/bg_selva.png) no-repeat center top;
    background-size: cover;
    height: 70%;
    overflow: hidden;
    text-align: center;

    img {
        animation: float 1.4s infinite alternate ease;
        display: block;
        max-height: 90%;
        max-width: 90%;
        position: fixed;
        left: 50%;

        @media all and (max-width: 32em) and (max-height: 36em) { top: 25%; }
    }

    @include max-break(50em) { height: 60%; }
    @include max-break(40em) { height: 50%; }
    @include max-break(32em) { height: 40%; }
    @media all and (max-width: 32em) and (max-height: 36em) { height: 100%; }
}

@keyframes float {
    from { transform: translate(-50%,-3px); }
    to { transform: translate(-50%,13px); }
}

section {
    background: #3A722E;
    box-shadow: -2px 0 3px black;
    color: #E9C114;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 160%;
    padding: 50px 0;
    position: relative;
    text-align: center;
    z-index: 1;

    @include max-break(30em) { padding: 20px 0; }

    p {
        margin: 0 auto;
        max-width: 940px;
    }

    > p {
        margin-bottom: 80px;
        @include max-break(40em) {
            font-size: 26px;
            line-height: 180%;
            margin-bottom: 30px;
        }
        @include max-break(30em) { font-size: 18px; }
    }

    > div {
        background: #23481F;
        margin-bottom: 100px;
        padding: 20px 0;

        @include max-break(30em) { margin-bottom: 30px; }
    }

    ul {
        font-size: 18px;
        line-height: 160%;
        margin: 0 auto;
        max-width: 940px;
        overflow: hidden;

        @include max-break(30em) { font-size: 14px; }

        li {
            float: left;
            padding: 0 15px;
            width: 33%;

            @include max-break(30em) {
                float: none;
                margin-bottom: 30px;
                width: 100%;
            }

            img {
                max-width: 100%;
            }
        }
    }
}

button {
    background: #0E2104;
    border: 0 none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    max-width: 90%;
    padding: 20px;
    text-transform: uppercase;
    -webkit-appearance: none;

    &:hover { background: #D64C3A; }
}

footer {
    background: #0F1F0F;
    color: #2B6225;
    font-size: 11px;
    line-height: 24px;
    position: relative;
    text-align: center;
    z-index: 1;
}
